<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>MercedesBenzproject</display-name>
  <welcome-file-list>
  <welcome-file>index.html</welcome-file>
   <welcome-file>Addproduct.html</welcome-file>
    <welcome-file>success.html</welcome-file>
        <welcome-file>failure.html</welcome-file>
        <welcome-file>Viewproduct.html</welcome-file>
         <welcome-file>Fetch.html</welcome-file>
          <welcome-file>Details.html</welcome-file>
          <welcome-file>BenzGla.html</welcome-file>
  </welcome-file-list>
  <servlet>
  <servlet-name>MBenz</servlet-name>
  <servlet-class>com.benz.controller.MBenz</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>MBenz</servlet-name>
  <url-pattern>/MBenz</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>Servlet_CarData</servlet-name>
  <servlet-class>com.benz.controller.Servlet_CarData</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>Servlet_CarData</servlet-name>
  <url-pattern>/Servlet_CarData</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>Carservlet</servlet-name>
  <servlet-class>com.benz.controller.Carservlet</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>Carservlet</servlet-name>
  <url-pattern>/Carservlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>FetchServlet</servlet-name>
  <servlet-class>com.benz.controller.FetchServlet</servlet-class>
  </servlet>
    <servlet-mapping>
  <servlet-name>FetchServlet</servlet-name>
  <url-pattern>/FetchServlet</url-pattern>
  </servlet-mapping>
   
</web-app>







